.editor-scroller {
  width: 100%;
  // min-height: 150px;
  border: 0;
  display: flex;
  position: relative;
  outline: 0;
  z-index: 0;
  resize: vertical;
}

.editor {
  flex: auto;
  position: relative;
  resize: vertical;
  z-index: -1;
  height: auto;
}

.draggable-block-menu {
  transition: opacity 0.5s ease;
  border-radius: 4px;
  padding: 2px 1px;
  cursor: grab;
  opacity: 0;
  position: absolute;
  left: -10px;
  top: 0;
  will-change: transform;
}

.draggable-block-menu .icon-light {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  background-image: url(../../lexical/icons/draggable-block-menu.svg);
}

.draggable-block-menu .icon-dark {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  background-image: url(../../lexical/icons/draggable-block-menu-gray.svg);
}

.draggable-block-menu:active {
  cursor: grabbing;
}

// .draggable-block-menu:hover {
//   background-color: #efefef;
// }

.draggable-block-target-line {
  pointer-events: none;
  background: deepskyblue;
  height: 4px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  will-change: transform;
}
